@model Rasyotek.Business.DTOs.CreatePersonelDto

<h2>Yeni Personel Ekle</h2>

<form asp-action="Create" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Ad" class="control-label"></label>
        <input asp-for="Ad" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Soyad" class="control-label"></label>
        <input asp-for="Soyad" class="form-control" />
    </div>
    <div class="form-group">
        <label>Cinsiyet</label>
        <div>
            <input type="radio" asp-for="Cinsiyet" value="Erkek" /> Erkek
            <input type="radio" asp-for="Cinsiyet" value="Kadın" /> Kadın
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Zimmet" class="control-label"></label>
        <input asp-for="Zimmet" type="checkbox" />
    </div>
    <div class="form-group">
        <label asp-for="Mezuniyet" class="control-label">Mezuniyet</label>
        <select asp-for="Mezuniyet" class="form-control" id="universiteSelect">
            <option value="">Üniversite Seçiniz</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'http://universities.hipolabs.com/search?country=Turkey',
                type: 'GET',
                success: function (data) {
                    console.log(data); // JSON verisini konsola yazdır
                    $.each(data, function (i, item) {
                        $('#universiteSelect').append($('<option>', {
                            value: item.name,
                            text: item.name
                        }));
                    });
                }
            });
        });
    </script>
}
